@media screen and (min-width: 1280px){
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cont{
	width: 1280px;
	margin: 0 auto;
}
.nav{
	width: 1280px;
	height: 75px;
	padding-left: 54px;
	padding-right: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #9D4DCE;
}
.nav_p_cont{
	width: 725px;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_p{
	font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 16.75px;
text-align: left;
color: #F3FF66;
}
.nav_text:hover {
  color: black;
  text-decoration: underline orange;
}
.button {
  width: 160px;
  height: 45px;
  border-radius: 8px;
  background: #F6A410;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
}
.button_text {
  font-size: 26px;
  color: white;
  font-weight: 700;
  font-family: Playfair Display;
}
.meni{
  display: none;
}
input{
  display: none;
}

.header{
	width: 1280px;
	height: 325px;
	padding-top: 35px;
	padding-left: 52px;
	padding-right: 455px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.myinfo{
	width: 440px;
	height: 230px;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.h2_hello{
	width: 205px;
	height: 50px;
  line-height: 16.75px;
text-align: left;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.h2_iwho{
	width: 440px;
	height: 50px;
  line-height: 16.75px;
text-align: left;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.h4_weblaunguege{
   height: 22px;
  line-height: 16.75px;
text-align: left;
  font-family: "M PLUS Rounded 1c", sans-serif;

  font-style: normal;	
}
.about_me{
	width: 1280px;
    height: 383px;
    position: relative;
    top: -535px;
    left: 130px;
    margin-bottom: -350px;
}
.h3_aboutme{
	width: 195px;
	height: 40px;
	margin-bottom: 96px;
	font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 16.75px;
text-align: left;
}
.p_aboutme{
	width: 770px;
	height: 235px;
	font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 50px;
text-align: left;
color: #F3FF66;
}

.skil{
	width: 1280px;
	height: 400px;
	padding-left: 155px;
  position: relative;
  top: -625px;
  margin-bottom: -350px;
}
.h3_skil{
	width: 195px;
	height: 40px;
	font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 16.75px;
text-align: left;
}
.skil_text_cont{
	width: 945px;
	display: grid;
	grid-template-columns: 435px 415px;
	grid-template-rows: 76px 190px;
	grid-gap: 40px;
	margin-top: 30px;
	margin-left: 50px;
	grid-template-areas: 'one two'
	                     'three .';
}
.skiltext_mini_cont1{
	grid-area: one;
}
.skiltext_mini_cont2{
	grid-area: two;
}
.skiltext_mini_cont3{
	grid-area: three;
}
.h6_skil{
	font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 30px;
text-align: left;
color: #F3FF66;
}
.p_skil{
	width: 250px;
	font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: #F5F5F5;
margin-top: 10px;
}
.project_cont{
	width: 1280px;
	height: 455px;
	  position: relative;
  top: -550px;
  left: 60px;
  margin-bottom: -350px;
}
.h3_project{
	width: 150px;
	height: 40px;
	font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 16.75px;
text-align: left;
}
.project_img_cont{
	width: 857px;
	height: 385px;
	display: grid;
	grid-template-columns: 282px 282px 283px;
	grid-template-rows: 144px 144px;
	grid-row-gap: 107px;
	grid-column-gap: 50px;
	margin-top: 25px;
}
.footer{
	width: 1280px;
	height: 300px;
	display: flex;
	align-items: center;
	background: #9D4DCE;
}
.footer_cont{
	width: 1280px;
	height: 125px;
	display: flex;
  align-items: center;
	padding-left: 50px;
	background: #BD7BE6;
}
.mini_footer_cont{
	width: 1280px;
	height: 67px;
	padding-top: 20px;
	display: flex;
	align-items: center;
}
.h6_city{
	width: 157px;
		font-family: Montserrat;
font-size: 14px;
font-weight: 800;
line-height: 16.75px;
text-align: left;
margin-right: 115px;
}
.social_media_cont{
	width: 325px;
	height: 47px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 374px;
}
.h7_social_media{
	width: 130px;
	height: 17px;
		font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 16.75px;
text-align: left;
}
.buy_site{
	width: 160px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: black;
	color: #F3FF66;
	font-family: Montserrat;
font-size: 14px;
font-weight: 800;
line-height: 16.75px;
text-align: left;
}

}